.countries-container {
    background: linear-gradient(to left, #2792D6, #052C62);
    color: white;
    letter-spacing: 2px;
    min-height: 100vh;
    padding: 0 2% 70px 2%;
}

.countries-container h1 {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 100px;
}

.countries-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
    text-align: center;
}

.country {
    transition: .3s;
    cursor: pointer;
}

.countries-box .country:hover {
    transform: scale(1.1);
}

.countries-box img {
    width: 250px;
    transition: .3s;
}

.countries-box img:hover {
    box-shadow: 0px 0px 100px #000000;
}

.loading {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #2792D6, #052C62);
    color: white;
    min-height: 100vh;
}

.error {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #2792D6, #052C62);
    color: white;
    min-height: 100vh;
}