.team-container {
    background: linear-gradient(to left, #2792D6, #052C62);
    min-height: 100vh;
    color: white;
    letter-spacing: 2px;
    padding: 0 2% 70px 2%;
}

.team-container h1 {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 100px;
}

.team-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.team {
    transition: .3s;
    height: fit-content;
}

.team-box .team:hover {
    transform: scale(1.1);
}

.team-box img {
    width: 150px;
    transition: .3s;
}
